@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: black;
  display: flex;
  color: #222;
}
#container {
  background-color: violet;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  align-items: center;
  padding: 50px;
  margin: 50px auto;
  border-radius: 2%;
}
h2 {
  font-family: 'Merienda', cursive;
  font-size: 2.5em;
}
#colorBars {
  margin-top: 20px;
}
#colorBars > div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
#colorBars > div > span {
  margin-bottom: 10px;
  font-size: 1.4em;
  color: rgb(216, 216, 216);
  
}
#r-value, #g-value, #b-value {
  width: 40px;
  text-align: center;
  border-radius: 10%;
  border: 0px solid;
  background-color: rgb(247, 247, 247);
  font-size: 1em;
}
#colorBars > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
#color-chosen {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  border-radius: 10%;
  border: solid rgb(236, 236, 236);
}
.txt1{
  font-size: 25px;
  color:red;
}
.txt2{
  font-size: 25px;
  color:green;
}
.txt3{
  font-size: 25px;
  color:blue;
}